<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584020156812-227v4qk8b2vkhv1fbbniah3l9apfims5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584020156812-227v4qk8b2vkhv1fbbniah3l9apfims5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>584020156812-6c3780kgc9af7ombrv3n7d753bd82qnh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAct5I4M2tQAyRmcPhu-ksHNRw4hrcHCK0</string>
	<key>GCM_SENDER_ID</key>
	<string>584020156812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PSP4M9F8L7.me.trashout.mobile.titanium</string>
	<key>PROJECT_ID</key>
	<string>trashoutngo-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>trashoutngo-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584020156812:ios:c2d241db71db2b57</string>
	<key>DATABASE_URL</key>
	<string>https://trashoutngo-dev.firebaseio.com</string>
</dict>
</plist>